# pythonLibs Requirements
digital-thought-commons @ git+https://github.com/Digital-Thought/commons@development-branch#egg=digital-thought-commons
pyvelociraptor
grpcio
xlsxwriter
cryptography
carbon-black-cloud-sdk